node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allure-report/
/allure-results/

# Ignore secrets folder
secrets/

#tmp folder
/temp/

# Debug files
debug-login.js
debug-accountbar.js
debug-login-process.js
test-credentials.js

# Custom Reports
test-reports/
test-reports/*.html

# Linting reports
eslint-report.html
eslint-reports/

/archive/

